rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /boards/{boardCode}/{allPaths=**} {
      allow read: if true;
      allow write: if request.resource.size < 1024 * 1024 * 1024; // 1GB limit
      allow delete: if true;
    }
  }
}
